Boundary containing forward slash character returns empty body

When submitting an XMLHttpRequest from ReactNative iOS the multipart boundary sometimes contains a forward slash '/' character and those requests all produce an empty body even tho the '/' character is allowed according to RFC 2046. https://www.ietf.org/rfc/rfc2046.txt

'content-type': 'multipart/form-data; boundary=-XrQHxml_qhW/dc2hip09LUML-QC3Wo.9OiqWz8G1NGvI3L1RP1GrN_ljEwkwWRpIzrv8M'

🤔 this is interested, should probably be reported to busboy, can you do that and link to this issue? ❤️ 

Sure

I've added busboy and if I run busboy it after multer upload has produced an empty body busboy does find the fields.

```
/**
 * Module dependencies
 */
const multer = require('multer');
const Busboy = require('busboy');

const storage = multer.memoryStorage();
const upload = multer({ storage }).single('file');

function formFile(req, res, next) {
  console.log(req.headers);
  const readToEnd = (stream, callback) => {
    const parts = [];

    stream.on('data', (part) => {
      parts.push(part);
    });

    stream.on('end', () => {
      callback(Buffer.concat(parts));
    });
  };

  const busboy = new Busboy({
    headers: req.headers,
  });

  busboy.on('field', (name, value) => {
    console.log('field %j %j', name, value);
  });

  busboy.on('file', (name, file) => {
    readToEnd(file, (data) => {
      console.log('file %j %j', name, data.toString('utf8'));
    });
  });

  busboy.on('finish', () => {
    console.log('finish');
  });

  upload(req, res, (error) => {
    if (error) {
      console.log({ error });
      res.status(400).json({ message: 'Field `file` is required.', trace: error });
    } else {
      console.log({ body: req.body });
      if (!req.body.school_class) {
        req.pipe(busboy);
      }
      next();
    }
  });
}

module.exports = {
  formFile,
};

```

Results:

With a '/' gives empty body, and then busboy finds the fields
```
{ 
  'content-type': 'multipart/form-data; boundary=Mn/Pm6CtvpapRjag2owJCpmFl-s840wcmMT-rUNXp6tKwc/v9Fhgkatbi5ZFvxChuO2ZK-',
...
}
{ body: {} }
field "external_url" "Xhxu"
field "school_class" "589091e3edf6f20140c720cb"
finish
```

Same form but without a '/' works
```
{ 
  'content-type': 'multipart/form-data; boundary=rRztlgf.qyQbyqKWd4SGdrjHJ.HlAJSa6yjdG62PqVB1J3K7Y9VG_-LM692sSzS6m-mObQ',
...
}
{ body:
   { external_url: 'Xhxu',
     school_class: '589091e3edf6f20140c720cb' } }
```

media-typer (used by multer via type-is) can’t parse that parameter, but it’s correct not to according to [RFC 2045][]:

     value := token / quoted-string

     token := 1*<any (US-ASCII) CHAR except SPACE, CTLs,
                 or tspecials>

     tspecials :=  "(" / ")" / "<" / ">" / "@" /
                   "," / ";" / ":" / "\" / <">
                   "/" / "[" / "]" / "?" / "="
                   ; Must be in quoted-string,
                   ; to use within parameter values

and from RFC 2046:

> WARNING TO IMPLEMENTORS:  The grammar for parameters on the Content-type field is such that it is often necessary to enclose the boundary parameter values in quotes on the Content-type line. This is not always necessary, but never hurts. Implementors should be sure to study the grammar carefully in order to avoid producing invalid Content-type fields.

I can’t find any update changing this, so it might be a bug in some part of “ReactNative”.

  [RFC 2045]: https://tools.ietf.org/html/rfc2045#section-5

Hmm well [RFC 2046 section 5.1.1](https://tools.ietf.org/html/rfc2046#section-5.1.1) about multipart forms says the following specifically about the boundary string:

     boundary := 0*69<bchars> bcharsnospace

     bchars := bcharsnospace / " "

     bcharsnospace := DIGIT / ALPHA / "'" / "(" / ")" /
                      "+" / "_" / "," / "-" / "." /
                      "/" / ":" / "=" / "?"

The '/' implemenation I assume is in Safari rather than ReactNative specifically.

@markusekblad The boundary string may contain `/`, but it must be quoted for use in the `Content-Type` parameter.

I understand.
But busboy is more lenient then in what it allows in the Content-Type header?
I guess it should be reported as a bug to Apple then but I wonder if that is likely to be changed in any foreseeable future.

It's a bug of ReactNative on iOS.
You can find the solution below.

[https://github.com/facebook/react-native/issues/7564](url)

The proper link for that react-native issue is https://github.com/facebook/react-native/issues/7564

Closing as resolved.