Should allow absent/empty filename

As far as I can tell from reading [RFC7578 Section 4.2](https://tools.ietf.org/html/rfc7578#section-4.2) the filename is **not** mandatory. Currently multer ignores files without a filename, [relevant code here](https://github.com/expressjs/multer/blob/7ef2e81215e9b773204df44fb4aee29e58340061/lib/make-middleware.js#L97-L98).

I think that this should be addressed, though I'm not sure if we should set `originalname` to an empty string or to `undefined`...

This might possibly be a breaking change as well, I'll start by fixing it in the 2.x beta...

Fixed in `v2.0.0-alpha.5`

I would very much like to use multer but I can't right now because some clients upload files without filename. When will the final version be released :sweat_smile:?

I would recommend using the alpha versions, they should be stable and I know a few companies that uses them in production ☺️ 

Is using the alpha versions still considered stable enough for production use? It's been 5 years since that was said, so I wanted to ask to be safe. And is there any news on this making it to a stable release at some point? We have clients who almost never send file names which prevents us from using multer and instead use our own parser, but that becomes a bit of a hassle since we need to implement this on multiple services

Version 2 is the LTS version of version 1. To get this change again, you need to upgrade to the alpha of version 3, which includes the changes you need.

https://expressjs.com/2025/05/19/security-releases.html
